<a href="index.html"><img class="logo" src="./assets/images/logo.png" alt="logo"></a>
<ul class="menu d-flex">
    <li class="item"><a href="product-otp.html" class="d-block pt-5">系列鏡框</a></li>
    <li class="item"><a href="#" class="d-block pt-5">門市據點</a></li>
    <li class="item"><a href="#" class="d-block pt-5">部落格</a></li>
    <li class="item"><a href="#" class="d-block pt-5">常見問題</a></li>
</ul>