@charset "UTF-8";
/*color*/
/*font-family*/
/*font-size*/
/*line-height*/
/* CSS Reset 
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*全站設定*/
*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Noto Sans TC", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.25rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.flex-row {
  flex-direction: row;
}

.row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-baseline {
  align-items: baseline;
}

.card {
  width: 25%;
}

@media (max-width: 992px) {
  .card {
    width: 50%;
  }
}

@media (max-width: 767px) {
  .card {
    width: 100%;
  }
}

.card-body {
  border: 1px solid #DEE2E6;
  padding: 16px;
}

.card-body:hover {
  background-color: #AA06010D;
}

.card-title {
  font-size: 0.875rem;
}

.card-text-time {
  font-size: 0.875rem;
  color: #707070;
}

.btn {
  width: 350px;
  height: 54px;
  background-color: #AA0601;
  color: #ffffff;
  border: 1px solid #000000;
  cursor: pointer;
  align-self: center;
}

.header {
  background-color: #AA0601;
  padding: 30px 88px;
}

@media (max-width: 992px) {
  .header {
    padding: 30px 40px;
  }
}

@media (max-width: 767px) {
  .header {
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .menu {
    width: 100%;
    flex-wrap: wrap;
  }
}

.menu a {
  margin-left: 64px;
  font-size: 1.25rem;
  text-decoration: none;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 8px;
}

@media (max-width: 992px) {
  .menu a {
    margin-left: 40px;
  }
}

@media (max-width: 767px) {
  .menu a {
    margin: 0;
  }
}

.menu a:hover {
  border-bottom: 3px solid #fff;
}

@media (max-width: 767px) {
  .menu a:hover {
    background: #fff;
    color: #AA0601;
  }
}

@media (max-width: 767px) {
  .item {
    width: 50%;
    border: 1px solid #fff;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .logo {
    width: 48px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.footer {
  background-color: #AA0601;
}

.footerMenu {
  font-size: 1rem;
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footerMenu {
    display: none;
  }
}

.footerMenu li {
  margin-right: 48px;
}

@media (max-width: 992px) {
  .footerMenu li {
    margin-right: 40px;
  }
}

.footericons li {
  margin-right: 32px;
}

@media (max-width: 992px) {
  .footericons li {
    margin-right: 24px;
  }
}

@media (max-width: 767px) {
  .footericons li {
    justify-content: flex-end;
  }
}

.footer .container {
  width: 1140px;
  margin: 0 auto;
  padding: 30px;
}

@media (max-width: 992px) {
  .footer .container {
    width: 960px;
  }
}

@media (max-width: 767px) {
  .footer .container {
    width: 100%;
  }
}

.footer .container li:hover {
  transform: translateY(-5px);
}

.footer .container a {
  color: #ffffff;
  text-decoration: none;
}

.contact {
  font-size: 2.25rem;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .contact {
    font-size: 1rem;
  }
}

.phone {
  margin-right: 17px;
}

@media (max-width: 992px) {
  .phone {
    margin-right: 12px;
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 767px) {
  .phone {
    margin-right: 4px;
    width: 20px;
    height: 20px;
  }
}

.mail {
  margin-right: 17px;
}

@media (max-width: 992px) {
  .mail {
    margin-right: 12px;
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 767px) {
  .mail {
    margin-right: 4px;
    width: 20px;
    height: 20px;
  }
}

@media (max-width: 992px) {
  .footericons img {
    width: 24px;
    height: 24px;
  }
}

@media (max-width: 767px) {
  .policy {
    flex-direction: column;
  }
}

.policy li {
  font-size: 0.875rem;
  margin-right: 62px;
}

@media (max-width: 992px) {
  .policy li {
    margin-right: 20px;
  }
}

.footerLogo {
  color: #ffffff;
}

@media (max-width: 767px) {
  .footerLogo {
    flex-direction: row-reverse;
    position: relative;
  }
}

.footerLogo img {
  margin-right: 38px;
}

@media (max-width: 992px) {
  .footerLogo img {
    display: none;
  }
}

@media (max-width: 767px) {
  .footerLogo img {
    width: 46px;
    height: 28px;
    display: inline;
    position: absolute;
    margin-top: 60px;
    margin-right: -250px;
  }
}

.footerCopyright {
  padding-top: 24px;
  border-top: 1px solid #fff;
  text-align: center;
}

@media (max-width: 767px) {
  .footerCopyright {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
}

.banner {
  height: 840px;
  background: url("https://github.com/hexschool/webLayoutTraining1st/blob/master/week3/banner.png?raw=true") center;
  background-size: cover;
}

@media (max-width: 767px) {
  .banner {
    height: 394px;
  }
}

.banner p {
  font-size: 2.25rem;
  color: #650300;
}

@media (max-width: 992px) {
  .banner p {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .banner p {
    font-size: 1rem;
  }
}

.banner h1 {
  color: #650300;
}

@media (max-width: 992px) {
  .banner h1 {
    font-size: 3rem;
  }
}

@media (max-width: 767px) {
  .banner h1 {
    font-size: 2rem;
  }
}

.container {
  width: 1140px;
  height: 100%;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container {
    width: 960px;
  }
}

@media (max-width: 767px) {
  .container {
    width: 100%;
  }
}

.profession {
  background: #aa06010d;
  color: #650300;
  padding: 60px 0;
  margin-bottom: 64px;
}

@media (max-width: 992px) {
  .profession {
    margin-bottom: 40px;
  }
}

@media (max-width: 767px) {
  .profession {
    margin-bottom: 32px;
  }
}

@media (max-width: 992px) {
  .profession ul {
    width: 100%;
    flex-wrap: wrap;
  }
}

.profession li {
  margin: 0 15px;
}

@media (max-width: 992px) {
  .profession li {
    width: 40%;
    margin: 0 40px;
  }
}

@media (max-width: 767px) {
  .profession li {
    width: 100%;
    margin-bottom: 40px;
  }
}

.profession h2 {
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .profession h2 {
    font-size: 2rem;
  }
}

@media (max-width: 992px) {
  .profession h3 {
    font-size: 20px;
  }
}

.profession p {
  color: #000000;
  font-weight: bold;
}

.profession img {
  margin-bottom: 40px;
}

@media (max-width: 992px) {
  .profession img {
    margin-bottom: 15px;
  }
}

.sunglasses {
  filter: grayscale(100%);
}

.sunglasses:hover {
  filter: grayscale(0%);
}

@media (max-width: 992px) {
  .classic li:nth-of-type(2n) {
    flex-direction: row;
  }
}

@media (max-width: 767px) {
  .classic li:nth-of-type(2n) {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .classic li {
    flex-direction: column;
  }
}

.classic img {
  width: 635px;
  height: 320px;
  margin-bottom: 32px;
  padding: 0 15px;
}

@media (max-width: 992px) {
  .classic img {
    width: 390px;
    height: 168px;
    margin-bottom: 8px;
  }
}

@media (max-width: 767px) {
  .classic img {
    width: 345px;
    height: 134px;
    padding: 0;
  }
}

.classic-items {
  color: #650300;
  text-align: center;
  margin-bottom: 60px;
}

@media (max-width: 992px) {
  .classic-items {
    font-size: 2rem;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .classic-items {
    font-size: 1.25rem;
    margin-bottom: 20px;
  }
}

.classic-glasses {
  color: #AA0601;
  font-style: italic;
  text-transform: uppercase;
}

@media (max-width: 992px) {
  .classic-glasses {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .classic-glasses {
    color: #ffffff;
    position: absolute;
    margin-top: 49px;
  }
}

.classic-glasses::before {
  content: "";
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
}

@media (max-width: 992px) {
  .classic-glasses::before {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 767px) {
  .classic-glasses::before {
    width: 32px;
    height: 32px;
  }
}

.classic-glasses-opt::before {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-diamond.svg");
}

@media (max-width: 767px) {
  .classic-glasses-opt::before {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-diamond-white.svg");
  }
}

.classic-glasses-sun::before {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-sun.svg");
}

@media (max-width: 767px) {
  .classic-glasses-sun::before {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-sun-white.svg");
  }
}

.classic-glasses-thunder::before {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-thunder.svg");
}

@media (max-width: 767px) {
  .classic-glasses-thunder::before {
    background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/icon-thunder-white.svg");
  }
}

.design {
  background-image: url("https://raw.githubusercontent.com/hexschool/webLayoutTraining1st/master/week3/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 64px;
}

.design .container {
  padding: 64px 0;
}

@media (max-width: 767px) {
  .design ul {
    flex-direction: column;
  }
}

.design h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 60px;
}

.design li {
  position: relative;
}

@media (max-width: 767px) {
  .design li:first-child {
    margin-bottom: 16px;
  }
}

.design img {
  width: 540px;
  height: 472px;
}

@media (max-width: 992px) {
  .design img {
    width: 330px;
    height: 280px;
  }
}

@media (max-width: 767px) {
  .design img {
    width: 345px;
    height: 284px;
  }
}

.design p {
  font-size: 72px;
  color: #650300;
  position: absolute;
  font-weight: bold;
}

@media (max-width: 992px) {
  .design p {
    font-size: 32px;
  }
}

.design-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #ffffff;
  filter: opacity(50%);
}

@media (max-width: 767px) {
  .design-image::before {
    width: 345px;
    height: 284px;
    margin: 0 auto;
  }
}

.design-image:hover::before {
  background-color: rgba(255, 255, 255, 0);
}

.customer {
  margin-bottom: 64px;
}

@media (max-width: 992px) {
  .customer ul {
    width: 100%;
    flex-wrap: wrap;
  }
}

.customer li {
  padding: 0 15px;
}

@media (max-width: 992px) {
  .customer li {
    margin-bottom: 28px;
  }
}

.customer h2 {
  color: #650300;
  text-align: center;
  margin-bottom: 60px;
}

.customer li:hover {
  transform: translateY(-10px);
  transition: 0.5s;
}

.customer img {
  width: 100%;
}

.contactus {
  background-color: #aa06010d;
  font-size: 1rem;
  font-weight: bold;
}

.contactus .container {
  width: 800px;
  padding: 64px 0;
}

@media (max-width: 992px) {
  .contactus .container {
    width: 550px;
  }
}

@media (max-width: 767px) {
  .contactus .container {
    width: 350px;
  }
}

.contactus h2 {
  text-align: center;
  margin-bottom: 24px;
}

.contactus p {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 20px;
}

.contactus .form {
  margin-bottom: 16px;
}

input {
  padding: 14px 16px;
  background-color: transparent;
  border: 1px solid #000000;
}

textarea {
  padding: 14px 16px;
  background-color: transparent;
  border: 1px solid #000000;
}

.nav ul {
  width: 100%;
}

.nav li {
  width: 33.33%;
  border-right: 1px #dcdcdc solid;
}

.nav a {
  text-decoration: none;
  font-size: 42px;
  font-weight: bold;
  color: #000000;
  display: block;
  padding: 24px 0;
  text-align: center;
}

@media (max-width: 992px) {
  .nav a {
    font-size: 28px;
  }
}

@media (max-width: 767px) {
  .nav a {
    font-size: 0.875rem;
  }
}

.nav a:hover {
  border-bottom: 10px solid #aa0601;
}

.nav img {
  margin-right: 8px;
  width: 48px;
  height: 48px;
  display: inline-block;
}

@media (max-width: 992px) {
  .nav img {
    width: 32px;
    height: 32px;
  }
}

@media (max-width: 767px) {
  .nav img {
    width: 15px;
    height: 15px;
  }
}

.products-banner img {
  width: calc(100% / 2 - 15px);
  margin-bottom: 88px;
}

.products-banner img:first-child {
  margin-right: 15px;
}

.container-sun {
  width: 1000px;
  margin: 0 auto;
}

@media (max-width: 992px) {
  .container-sun {
    width: 900px;
  }
}

@media (max-width: 767px) {
  .container-sun {
    width: 100%;
  }
}

.product-item-otp {
  width: 25%;
  padding: 0 15px;
  margin-bottom: 104px;
}

@media (max-width: 992px) {
  .product-item-otp {
    width: 50%;
    margin-bottom: 72px;
  }
}

@media (max-width: 767px) {
  .product-item-otp {
    width: 100%;
    margin-bottom: 32px;
  }
}

.product-item-sun {
  width: 33.33%;
  padding: 0 15px;
  margin-bottom: 104px;
}

@media (max-width: 992px) {
  .product-item-sun {
    width: 50%;
    margin-bottom: 72px;
  }
}

@media (max-width: 767px) {
  .product-item-sun {
    width: 100%;
    margin-bottom: 32px;
  }
}

@media (max-width: 992px) {
  .product-list {
    width: 100%;
    flex-wrap: wrap;
  }
}

.product-list-sun {
  width: 100%;
  flex-wrap: wrap;
}

.products img {
  width: 100%;
  height: 164px;
}

@media (max-width: 767px) {
  .products img {
    height: 166px;
  }
}

.products h2 {
  font-size: 42px;
  font-weight: bold;
  text-align: center;
}

.products h4 {
  text-align: center;
  margin-bottom: 40px;
}

.productname {
  font-weight: bold;
  font-size: 1.5rem;
}

.productprice {
  color: #AA0601;
  font-weight: bold;
  font-size: 1.5rem;
}

.productcolor1 {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background-color: #5f3e2d;
  margin-right: 8px;
}

.productcolor2 {
  width: 24px;
  height: 24px;
  border-radius: 5px;
  background-color: #b75929;
}

.pagination {
  margin-bottom: 156px;
}

.pagination a {
  display: block;
  text-decoration: none;
  padding: 10px 12px;
  color: #555555;
  font-weight: bold;
}

.page-item {
  text-align: center;
  border: 1px solid #555555;
}

.previous {
  width: 80px;
}

.next {
  width: 80px;
  background-color: #f2f2f2;
}

.page-link {
  width: 40px;
}

.page-link:nth-child(3) {
  background-color: #000000;
}

.page-link:nth-child(3) a {
  color: #ffffff;
}

.pagination-sun {
  margin-bottom: 156px;
  display: none;
}

@media (max-width: 992px) {
  .pagination-sun {
    display: flex;
  }
}

.pagination-sun a {
  display: block;
  text-decoration: none;
  padding: 10px 12px;
  color: #555555;
  font-weight: bold;
}

@media (max-width: 992px) {
  .prouuctdetials {
    display: flex;
    justify-content: space-between;
  }
}
/*# sourceMappingURL=all.css.map */