.d-flex{
    display: flex;
}

.d-block{
    display: block;
}

.flex-row{
    flex-direction: row;
}

.row-reverse{
    flex-direction: row-reverse;
}

.flex-column{
    flex-direction: column;
}

.justify-content-center{
    justify-content: center;
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-around{
    justify-content: space-around;
}

.justify-content-end{
    justify-content: flex-end;
}

.align-items-center{
    align-items: center;
}

.align-items-end{
    align-items: flex-end;
}

.align-items-baseline{
    align-items: baseline;
}


